<section aria-label="Page Banner" class="usa-graphic-list usa-section sml-margin bg-primnary-dark landing-page-banner padding-y-4" style="background-color: #162e51;">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet: grid-col">
                <h1 class="text-white font-sans-xl margin-top-0 margin-bottom-0">
                    {% if page.layout == "shortcase" %}
                    {{page.short-title}}
                    {% else %}
                        {% if page.short-title %}
                            {{page.short-title}} - {{page.title}}
                        {% else %}
                            {{page.title}}
                        {% endif %}
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
</section>

