---
layout: page
---

    <div class="row" id="card-holder">
        <div class="col-md-9 col-xl-8 py-1 px-1 py-md-2 pl-md-3 offset-md-3 offset-xl-2 order-1">

            <h2 class="border-bottom" id="TCsum">Test Case Summary</h2>
                <h3 id="TCdesc">Test Case Description</h3>
                    <p>{{page.short-descr | markdownify}}</p>
                <h3 id="TCbase">Applicable Web Content Accessibility Guideline (WCAG) Success Criterion</h3>
                    <div>
                        <p><a href="{{page.app-sc-url}}">{{page.app-sc}}: {{page.app-sc-title}}</a></p>
                        {{page.app-sc-descr | markdownify}}
                    </div>

            <h2 class="border-bottom" id="TCdet">Test Case Detail</h2>
                <h3 id="TCurl">Single-Page URL</h3>
                    <div id="codelink">
                        <p><a id="samplecodelink" href="{{page.sample | absolute_url}}">{{page.sample | absolute_url}}</a></p>
                    </div>

                <h3 id="TCframe">Embedded Code</h3>
                    <div id="codeframe-container">
                        <iframe id="codeframe" src="{{page.sample | absolute_url}}" title="embedded code"></iframe>
                    </div>

                <div class="usa-accordion usa-accordion--bordered site-accordion-code margin-top-4">
                    <button class="usa-accordion__button" aria-controls="code-sticky" aria-expanded="true">Code</button>
                    <div id="code-sticky" class="usa-accordion__content">
                        <pre><code id="ta_code" class="language-html" data-lang="html"></code></pre>
                    </div>
                </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/assets/js/testcases.js"></script>